{{#with data}}
<div class="title">
    <div class="container">
    	<h1>Emily Nguyen<br><span class="tagline">Full Stack Designer</span></h1>
    </div>
</div> <!-- #title -->

<div id="filters">
    <div class="container">
        <ul>
            <li><h2 class="filter filter-all active-filter">All Work</h2></li>
            <li><h2 class="filter filter-visual">Visual</h2></li>
            <li><h2 class="filter filter-ux">UX</h2></li>
            <li><h2 class="filter filter-dev">Dev</h2></li>
            
        </ul>
    </div>
</div> <!-- #filters -->

<div id="project-gallery">
    <div class="gallery-item-container">

        {{#each projects}}
        <div class="{{#each tags}}tag-{{this}} {{/each}}">

        <a href="/{{url}}">
            <div class="gallery-item {{url}} padding-{{paddingSize}}" style="background-color: {{accent}}">
                <div class="project-icon v-center h-center">
                    <img src="{{icon}}" alt="{{alt}}" class="{{orientation}} padding-{{paddingSize}}" {{#if shadow}}style="box-shadow: {{shadow}}"{{/if}}>
                </div> <!-- .project-icon -->
                <!-- Project description on image overlay -->
                <div class="project-description hide-sm-down v-bottom">
                    <div class="wrapper">
                        <h3>{{title}}</h3>
                        <p>{{{description}}}</p>
                    </div>
                </div> <!-- .project-description -->

                <div class="arrow hide-sm-up">
                    <img src="images/icons/arrow.svg">
                </div> <!-- .arrow -->
            </div> <!-- .gallery-item -->
        </a>
        <div class="container hide-sm-up">
            <!-- Project description below image -->
            <div class="project-description">
                <h3>{{title}}</h3>
                <p>{{{description}}}</p>
            </div> <!-- .project-description -->
        </div>

        </div> <!-- tag wrapper -->
        {{/each}}

    </div> <!-- .gallery-item-container -->
</div> <!-- #project-gallery -->

{{/with}}
