{{#with currProject}}
    <div id="project">

        <div class="container">
            <div class="project-landing">

            	<h1 class="hide-md-up project-title">{{title}}</h1>

                <div class="hero-container v-center h-center {{orientation}} padding-{{paddingSize}}" style="background-color: {{accent}};">
                        <img src="{{icon}}" alt="{{alt}}" {{#if shadow}}style="box-shadow: {{shadow}}"{{/if}}>
                </div> <!-- .hero-container -->

                <div class="intro">
                    <h1 class="show-md-up project-title">{{title}}</h1>
                    <p>{{{summary}}}</p>

                    <div class="intro-details">
                    {{#each intro}}
                        <div class="intro-detail-item {{#if wide}}wide{{/if}} {{#unless wide}}default{{/unless}}">
                            <h3>{{title}}</h3>
                            <p>{{{content}}}</p>
                        </div> <!-- .intro-detail-item -->
                    {{/each}}
                    </div> <!-- .intro-details -->
                </div> <!-- .intro -->

            </div> <!-- .project-landing -->
        </div> <!-- .container -->

        <div class="container">
            <div class="section-container">
                {{#each sections}}
                <div class="section">
                    <!-- Title -->
                    <h2 class="section-title">{{title}}</h2>

                    <div class="section-content">
                        <!-- Text -->
                        {{#if text}}
                            {{{content}}}
                        {{/if}}

                        <!-- Images -->
                        {{#if image}}
                            {{#if beforeCaption}}
                                {{{beforeCaption}}}
                            {{/if}}
                            <div class="section-image {{#if noPadding}}no-padding{{/if}} {{#if noPaddingMd}}no-padding-md{{/if}}" style="background-color: {{../accent}}; {{#if noPadding}}background-color: transparent;{{/if}} {{#if noPaddingMd}}background-color: transparent;{{/if}} {{style}}">
                                {{#if link}}
                                <a href="{{link}}" target="_blank">{{/if}}<img src="{{src}}" alt="{{alt}}">{{#if link}}</a>{{/if}}
                            </div>
                            {{#if afterCaption}}
                                {{{afterCaption}}}
                            {{/if}}
                        {{/if}}

                        <!-- Color Palette  -->
                        {{#if palette}}
                            <div class="palette" style="{{style}}">
                                <div class="swatch-container">
                                    {{#each swatches}}
                                    <div class="swatch" style="background-color: {{this}};">
                                        <div class="swatch-name"><h3>{{this}}</h3></div>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>
                            {{#if caption}}
                                {{{caption}}}
                            {{/if}}
                        {{/if}}

                        <!-- PDF -->
                        {{#if pdf}}
                            <div class="pdf-container">
                                <iframe class="pdf" src="{{pdf-link}}"></iframe>
                            </div>
                            {{#if caption}}
                                {{{caption}}}
                            {{/if}}
                        {{/if}}

                        <!-- Personas -->
                        {{#if personas}}
                            <div class="persona-container">
                                {{#each personaList}}
                                    <div class="persona">
                                        <div class="persona-icon-container">
                                            <img src="{{icon}}">
                                        </div>
                                        <div class="persona-description">
                                            {{{description}}}
                                        </div>
                                    </div>
                                {{/each}}
                            </div>
                        {{/if}}

                    </div> <!-- .section-content -->
                </div> <!-- .section -->
                {{/each}}
            </div> <!-- .section-container -->
        </div> <!-- .container -->

    </div> <!-- #project -->
{{/with}}
